{% extends "Admin/base.html.twig" %}
{% block body %}
    <main>
        <section id="hautMain">
            <h1 id="greta">Dashboard admin GRETA</h1>
            <h3 id="sous-titre">Gérer les formations, les années et les promotions</h3>
        </section>

        <section id="principale">
            <ul class="nav nav-tabs" id="onglets" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="formations-tab" data-toggle="tab" href="#formations" role="tab"
                       aria-controls="formations" aria-selected="true">
                        Formations
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="annees-tab" data-toggle="tab" href="#annees" role="tab"
                       aria-controls="annees" aria-selected="false">
                        Années
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="promotions-tab" data-toggle="tab" href="#promotions" role="tab"
                       aria-controls="promotions" aria-selected="false">
                        Promotions
                    </a>
                </li>

            </ul>



            <div id="resultats" class="tab-content container">
                <div class="row tab-pane fade show active" id="formations" role="tabpanel" aria-labelledby="formations-tab">
                    <p> Ajouter une formation
                        <button class="monBouton btn btn-primary btn-lg" data-toggle="modal" data-target="#modalForma">
                            <img class="ajouter" src="{{ asset('img/add.png') }}" alt="ajouter">
                        </button>
                    </p>
                {% for degree in degrees %}
                    <div class="uneDiv">
                        <span id = "degree-{{ degree.id }}" class="para">{{ degree.name }}</span>
                        <span class="icones">
                                 <a href="{{path('admin.degree.edit', {'id':degree.id}) }}">
                                     <img src="{{ asset('img/edit.png') }}" alt="modifier">
                                 </a>
                            <a class="delete" href="{{ path('admin.degree.delete', {'id': degree.id}) }}">
                                <img src="{{ asset('img/remove.png') }}" alt="supprimer">
                            </a>

                            </span>
                    </div>

                {% endfor %}
                </div>

                <div class="row tab-pane fade" id="annees"role="tabpanel" aria-labelledby="annees-tab">
                    <p> Ajouter une année
                        <button class="monBouton btn btn-primary btn-lg" data-toggle="modal" data-target="#modalYears">
                            <img class="ajouter" src="{{ asset('img/add.png') }}" alt="ajouter">
                        </button>
                    </p>
                {% for year in years %}
                    <div class="uneDiv">
                        <span id="year-{{ year.id }}" class="para">{{ year.title }}</span>
                        <span class="icones">
                                <a href="{{path('admin.year.editYear', {'id':year.id}) }}">
                                     <img src="{{ asset('img/edit.png') }}" alt="modifier">
                                 </a>
                                 <a class="delete" href="{{ path('admin.year.delete', {'id': year.id}) }}">
                                     <img src="{{ asset('img/remove.png') }}" alt="supprimer">
                                 </a>
                        </span>
                    </div>

                {% endfor %}
                </div>

                <div class="row tab-pane fade" id="promotions"role="tabpanel" aria-labelledby="promotions-tab">
                    <p> Ajouter une promotion
                        <button class="monBouton btn btn-primary btn-lg" data-toggle="modal" data-target="#modalPromo">
                            <img class="ajouter" src="{{ asset('img/add.png') }}" alt="ajouter">
                        </button>
                    </p>
                    {% for promo in promotions %}
                        <div class="uneDiv">
                            <span id= 'promo-{{ promo.id }}' class="para">
                                <ul>
                                    <li> {{ promo.degree.name }}</li>
                                    <li> {{ promo.startDate | date('d-m-Y') }}</li>
                                    <li> {{ promo.endDate | date('d-m-Y') }}</li>
                                    <li> {{ promo.notes }}</li>
                                </ul>

                            </span>
                            <span class="icones">
                                <a href="{{path('admin.promotions.editPromotions', {'id':promo.id})}}">
                                     <img src="{{ asset('img/edit.png') }}" alt="modifier">
                                 </a>
                                 <a class="delete" href="{{ path('admin.promo.delete', {'id': promo.id}) }}">
                                    <img src="{{ asset('img/remove.png') }}" alt="supprimer">
                                </a>
                        </span>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </section>

        {% if app.session.flashbag.peek("success") | length > 0 %}
            {% for message in app.flashes("success") %}
                <div class="alert alert-success alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dissmiss="abort" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

{#        Formation#}
        <div class="modal fade" id="modalForma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Ajouter une formation</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        <input type="submit" value="Ok">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

{#        Année#}
        <div class="modal fade" id="modalYears" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Ajouter une Année</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(formYears) }}
                        {{ form_row(formYears.title) }}
                        <input type="submit" value="Ok">
                        {{ form_end(formYears) }}
                    </div>
                </div>
            </div>
        </div>

{#        Promotion#}
        <div class="modal fade" id="modalPromo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Ajouter une Promotion</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(formPromo) }}
                        {{ form_row(formPromo.degree) }}
                        {{ form_row(formPromo.year) }}
                        <input type="submit" value="Ok">
                        {{ form_end(formPromo) }}
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}