{% extends "base.html.twig" %}
{% block body %}
    <main>
        <section id="hautMain">
            <h1>Bienvenue sur l'annuaire des anciens élèves du Greta</h1>
            <h3>Faites votre recherche sur l'annuraire de nos anciens élèves et accéder
                à sa fiche individuelle</h3>
        </section>

        <section>
            <div id="formulaire">
                <form method="post" action="{{ path('index') }}">
                    <select id="formation" name="formation" size="1">
                        <option value="">-- Rechercher une formation --</option>
                        {% for formation in degrees %}
                        <option value="{{ formation.id }}">{{ formation.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="annee"></label>
                    <select id="annee" name="annee" size="1">
                        <option value="">-- Année --</option>
                        {% for year in years %}
                            <option value="{{ year.id }}">{{ year.title }}</option>
                        {% endfor %}
                    </select>
                    <input id="bouton" type="submit" value="GO">
                </form>
            </div>
        </section>

        <section id="tableau">

            {% if theYear is not empty %}
            <div>
                <p>Formation:<b>{{ theYear.title }}</b></p>
                <p>Année:<b>{{ theDegree.name }}</b></p>
            </div>
            {% endif %}

            <fieldset id="field">
                <legend>Résultat de la recherche</legend>
                <table id="resultat">
                    <tr id="nomColonne">
                        <th id="searchNom">Nom</th>
                        <th id="searchPrenom">Prénom</th>
                        <th id="searchFormation">Formation suivie</th>
                        <th id="searchAvatar">Avatar</th>
                    </tr>

                    {% if resultat is not empty %}
                        {% for res in resultat %}
                        <a href="#" class="lienProfil">
                            <tr id="liste">
                                    <td>{{ res.lastname }}</td>
                                    <td>{{ res.firstname }}</td>
                                    <td>
                                        {%  for promo in res.promotions %}
                                        <span class="promo">{{ promo.degree.name }}</span>
                                        {% endfor %}
                                    </td>
                                    <td class="searchAvatar"><img src={{asset('upload/avatar/'~res.avatar) }} alt="avatar"></td>
                            </tr>
                        </a>
                        {% endfor %}
                    {% endif %}

                </table>
            </fieldset>

        </section>


    </main>

    <footer>
        <a href="#" id="mentions">Mentions Légales</a>
        <div id="texte">Site réalisé en 2019 par la formation TP Développeur Web</div>
    </footer>
{% endblock %}