{% extends "Admin/base.html.twig" %}
{% block body %}
    <div class="edition">
        {{ form_start(formPromo) }}
        {{ form_row(formPromo.degree) }}
        {{ form_row(formPromo.year) }}
        {{ form_row(formPromo.startDate) }}
        {{ form_row(formPromo.endDate) }}
        {{ form_row(formPromo.notes) }}
        <input type="submit" value="Ok">
        {{ form_end(formPromo) }}
    </div>
{% endblock %}